[submodule "src/external/matGeom"]
	path = src/external/matGeom
	url = https://github.com/mattools/matGeom/
[submodule "src/internal/ManualLandmarkSelection"]
	path = src/internal/ManualLandmarkSelection
	url = https://git.rwth-aachen.de/Maximilian.Fischer/ManualLandmarkSelection
